:root {
  --theme-color: #f79164;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: white;
}
/* Hero */
.hero {
  padding-bottom: 0;
}

.hero-top {
  padding-inline: 4vw;

  padding-right: 0;
  display: flex;
  justify-content: space-between;
}

.hero-top .heading {
  display: flex;
  align-items: flex-end;
}
.hero-top .heading h1 {
  font-size: 5vw;
  font-weight: 900;
  position: relative;
}
.hero-top .heading .square {
  position: absolute;
  left: 110%;
  top: 55%;
  width: 1.2vw;
  height: 1.2vw;
  background-color: var(--theme-color);
}

.hero-top .right {
  padding: 1.5vw;
  border: 2px solid white;
  border-right: none;
  font-size: 1.2vw;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: baseline;
}
.hero-main {
  /* border: 2px solid red; */
  position: relative;
  padding-inline: 2vw;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
}
.hero-main img {
  width: 70%;
}
.hero-main .content {
  position: absolute;
  text-align: center;
  right: 10vw;
  top: 10vw;
  display: flex;
  flex-direction: column;
}
.hero-main .vertical-text {
  margin-inline: auto;
  writing-mode: vertical-rl;
  font-size: 1.5vw;
  font-family: Arial, sans-serif;
  transform: rotate(-180deg);
  align-self: flex-start;
}
.hero-main .content h1 {
  text-transform: uppercase;
  font-size: 2vw;
}
.hero-main .content p {
  font-size: 1.5vw;
}

/* STATS BANNER */
.stats {
  padding: 2vw 5rem;
  box-shadow: rgba(235, 232, 232, 0.25) 0px 5px 65px,
    rgba(211, 204, 204, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(177, 173, 173, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  justify-content: space-between;
}

.stat {
  display: flex;
  gap: 0.5rem;
  justify-content: space-around;
  align-items: center;
}
.stat span {
  color: var(--theme-color);
}
.stat h1 {
  font-size: 4vw;
}
.stat p {
  font-size: 1vw;
}

.form-section {
  display: flex;
}
.form-section .image {
  flex: 1;
  border: 2px solid;
  display: flex;
  justify-content: center;
}
.form-section img {
  width: auto;
}
.form-section .form {
  flex: 1;
  padding: 4vw 12vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
}
.form-section .form h1 {
  color: var(--theme-color);
  font-size: 3.3vw;
  font-weight: 900;
  text-transform: uppercase;
}
.form-section .form p {
  font-size: 1.2vw;
  font-weight: 600;
  text-transform: uppercase;
}
.form-section .form form {
  /* border: 2px solid red; */
  margin-top: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
  width: 100%;
}
.form-section .form form input,
textarea {
  background-color: black;
  padding: 1vw;
  border: 2px solid var(--theme-color);
  width: 100%;
  font-size: 1vw;
}

.form-section .form form button {
  padding: 1vw 2vw;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  background-color: var(--theme-color);
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .form-section {
    flex-direction: column;
  }
  .form-section .form form {
    width: 80%;
  }
}

/* Footer */
footer {
  padding: 2vw;
  background-color: #ababab;
  color: black;
  position: relative;
}

.side-social-media-links {
  position: absolute;
  right: 0;
  top: -5vw;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  color: var(--theme-color);
  border-radius: 15px;
  padding: 1vw;
  font-size: 2vw;
}

.side-social-media-links i:hover {
  color: black;
  cursor: pointer;
}
footer .heading {
  text-align: center;
}
footer .heading h1 {
  font-size: 4.8vw;
  line-height: 0.9;
}
footer .heading h1 span {
  font-weight: 500;
  font-size: 4vw;
}
footer .heading p {
  letter-spacing: 1.5vw;
  font-size: 2vw;
  text-transform: uppercase;
}

.footer-content {
  display: flex;
  gap: 5vw;
  align-items: center;
  padding: 0 2vw;
}
.footer-content .contact {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}
.footer-content .contact div {
  display: flex;
  gap: 1vw;
  align-items: center;
}

.footer-content .contact div i {
  padding: 1vw;
  border-radius: 50%;
  background-color: #c9c9c9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-content .contact div p {
  font-size: 1.3vw;
}
.footer-content .contact div i img {
  width: 2vw;
  height: 2vw;
}

.map {
  margin-left: -15vw;
  margin-bottom: 1vw;
  width: 25vw;
}
.footer-content .social {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.footer-content .social .quick-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-content .social .quick-links h3 {
  font-weight: 800;
  font-size: 1.5vw;
}
.footer-content .social .quick-links ul {
  width: 100%;
  /* border: 2px solid red; */
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-content .social .quick-links ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 1.2vw;
  border-bottom: 2px solid transparent;
}
.footer-content .social .quick-links ul li a:hover {
  border-color: black;
}
.footer-content .social .clutch {
  display: flex;
  gap: 2vw;
  align-items: center;
  padding-right: 2vw;
  background-color: #fff;
  border: 2px solid #26333c;
}
.footer-content .social .clutch img {
  width: 4vw;
}

.footer-content .social .clutch p {
  color: #26333c;
  text-transform: uppercase;
  font-size: 1.3vw;
  font-weight: 600;
}
