footer {
  padding: 2vw;
  background-color: #ababab;
  color: black;
  position: relative;
}

footer .heading {
  text-align: center;
}
footer .heading h1 {
  font-size: 4.8vw;
  line-height: 0.9;
}
footer .heading h1 span {
  font-weight: 500;
  font-size: 4vw;
}
footer .heading p {
  letter-spacing: 1.5vw;
  font-weight: 600;
  font-size: 2vw;
  text-transform: uppercase;
}
footer .mob-map {
  display: none;
}

.footer-content {
  display: flex;
  gap: 5vw;
  align-items: center;
  padding: 0 2vw;
}
.footer-content .contact {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}
.footer-content .contact div {
  display: flex;
  gap: 1vw;
  align-items: center;
}

.footer-content .contact div i {
  padding: 1vw;
  border-radius: 50%;
  background-color: #c9c9c9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-content .contact div p {
  font-size: 1.3vw;
}
.footer-content .contact div i img {
  width: 2vw;
  height: 2vw;
}

.map {
  margin-left: -10vw;
  margin-bottom: 1vw;
  width: 25vw;
  border: 1px solid black;
  border-radius: 15px;
}
.footer-content .social {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  margin-left: 5vw;
}

.footer-content .social .quick-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-content .social .quick-links h3 {
  font-weight: 800;
  font-size: 1.5vw;
}
.footer-content .social .quick-links ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.footer-content .social .quick-links ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 1.2vw;
  border-bottom: 2px solid transparent;
}
.footer-content .social .quick-links ul li a:hover {
  border-color: black;
}
.footer-content .social .clutch {
  display: flex;
  gap: 2vw;
  align-items: center;
  padding-right: 2vw;
  background-color: #fff;
  border: 2px solid #26333c;
}
.footer-content .social .clutch img {
  width: 4vw;
}

.footer-content .social .clutch p {
  color: #26333c;
  text-transform: uppercase;
  font-size: 1.2vw;
  font-weight: 600;
}

@media screen and (max-width: 768px) and (min-width: 480px) {
  .footer-content .contact div p {
    font-size: 2vw;
    /* width: 75%; */
  }
  .map {
    margin-left: 4vw;
    /* margin-bottom: -5vw; */
    width: 25vw;
    margin-right: -2vw;
  }
  .footer-content .social {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    /* border: 2px solid red; */
    margin-left: 0;
  }

  .footer-content .social .quick-links h3 {
    font-weight: 800;
    font-size: 2.3vw;
  }
  .footer-content .social .quick-links ul {
    gap: 2vw;
  }
  .footer-content .social .quick-links ul li a {
    font-size: 2vw;
  }
  .footer-content .social .quick-links ul li a:hover {
    border-color: black;
  }
  .footer-content .social .clutch {
    display: flex;
    gap: 2vw;
    align-items: center;
    padding-right: 2vw;
    background-color: #fff;
    border: 2px solid #26333c;
  }
  .footer-content .social .clutch img {
    width: 6vw;
  }

  .footer-content .social .clutch p {
    color: #26333c;
    margin: auto;
    text-transform: uppercase;
    font-size: 1.3vw;
    font-weight: 600;
  }
}

@media screen and (max-width: 480px) {
  footer {
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer .heading h1 {
    font-size: 5vw;
  }
  footer .heading h1 span {
    font-size: 4.3vw;
  }
  footer .heading p {
    font-size: 2.5vw;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    padding: 0;
  }
  .footer-content .contact {
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2vw;
    padding: 2vw 0;
  }
  .footer-content .contact div {
    display: flex;
    width: 45%;
    gap: 1vw;
    align-items: center;
  }

  .footer-content .contact div i {
    padding: 1vw;
    border-radius: 50%;
    background-color: #c9c9c9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-content .contact div p {
    font-size: 2.5vw;
  }
  .footer-content .contact div i img {
    width: 3vw;
    height: 3vw;
  }

  .map {
    display: none;
  }
  footer .mob-map {
    display: block;
    width: 50vw;
    margin: auto;
    width: 96vw;
    height: 25vw;
    object-fit: cover;
    border-radius: 15px;
    border: 1px solid black;
  }
  .footer-content .social {
    display: flex;
    align-self: stretch;
    flex-direction: column;
    gap: 2vw;
    margin: 0;
  }

  .footer-content .social .quick-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-content .social .quick-links h3 {
    font-weight: 800;
    font-size: 3.5vw;
    margin-bottom: 2vw;
  }
  .footer-content .social .quick-links ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-content .social .quick-links ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 2.5vw;
    border-bottom: 2px solid transparent;
  }
  .footer-content .social .quick-links ul li a:hover {
    border-color: black;
  }
  .footer-content .social .clutch {
    display: flex;
    gap: 2vw;
    align-items: center;
    padding-right: 2vw;
    background-color: #fff;
    border: 2px solid #26333c;
  }
  .footer-content .social .clutch img {
    width: 8vw;
  }

  .footer-content .social .clutch p {
    color: #26333c;
    text-transform: uppercase;
    font-size: 2.5vw;
    margin: auto;
    font-weight: 600;
  }
}
