:root {
  --theme-color: #ff5cb3;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: white;
  padding-top: 6vw;
}
@media screen and (max-width: 768px) {
  body {
    padding-top: 8vw;
  }
}
@media screen and (max-width: 480px) {
  body {
    padding-top: 10vw;
  }
}
/* Hero */
.hero {
  padding-bottom: 0;
}

.hero-top {
  padding-inline: 4vw;
  padding-right: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.hero-top .right {
  padding: 1.5vw;
  border: 2px solid white;
  border-right: none;
  font-size: 0.9vw;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: baseline;
}
.hero-main {
  /* border: 2px solid red; */
  position: relative;
  padding-right: 2vw;
  /* padding-left: 6vw; */
  padding-top: 2vw;
  padding-bottom: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-main .content {
  display: flex;
  flex-direction: column;
}
.hero-main .content h1 {
  font-size: 3.6vw;
  width: 65%;

  text-transform: uppercase;
  line-height: 3vw;
  letter-spacing: 1vw;
  line-height: 1.2;
}
.hero-main .content > p {
  text-align: center;
  width: 65%;
  margin-top: 1vw;
}
.hero-main img {
  width: 35%;
  position: absolute;
  left: 40%;
}
.hero-main .heading {
  align-self: flex-end;
  display: flex;
  align-items: flex-end;
  margin-bottom: 5vw;
  margin-left: auto;
  margin-right: 8vw;
}
.hero-main .heading h1 {
  font-size: 5vw;
  font-weight: 900;
  position: relative;
}
.hero-main .heading .square {
  position: absolute;
  left: 110%;
  top: 55%;
  width: 1.2vw;
  height: 1.2vw;
  background-color: var(--theme-color);
}
.hero-main .vertical-text {
  margin-inline: auto;
  writing-mode: vertical-rl;
  font-size: 1.8vw;
  font-family: Arial, sans-serif;
  align-self: flex-start;
}

@media screen and (max-width: 768px) {
  .hero {
    padding-bottom: 10vw;
  }
  .hero-top .right {
    font-size: 1.8vw;
    line-height: 1.3;
  }
  .hero-main {
    padding-bottom: 5vw;
  }
  .hero-main .content {
    display: flex;
    flex-direction: column;
  }
  .hero-main .content h1 {
    font-size: 3.5vw;
    line-height: 1.2;
    letter-spacing: 0.2vw;
    font-weight: 700;
  }
  .hero-main .content p {
    font-size: 2.5vw;
    line-height: 1.2;
    font-weight: 600;
  }
  .hero-main img {
    width: 30%;
    position: absolute;
    left: 38%;
  }
  .hero-main .heading {
    align-self: center;
    display: flex;
    align-items: flex-end;
    margin: 0;
    margin-right: 10vw;
  }
  .hero-main .heading h1 {
    font-size: 10vw;
    font-weight: 900;
    position: relative;
  }
  .hero-main .heading .square {
    position: absolute;
    left: 110%;
    top: 55%;
    width: 2.5vw;
    height: 2.5vw;
    background-color: var(--theme-color);
  }
  .hero-main .vertical-text {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .hero {
    padding-bottom: 10vw;
  }
  .hero-top .right {
    font-size: 2.2vw;
    line-height: 1.3;
  }
  .hero-main {
    padding-bottom: 5vw;
    /* border: 2px solid red; */
  }
  .hero-main img {
    margin-left: -3vw;
  }
  .hero-main .content {
    display: flex;
    flex-direction: column;
  }
  .hero-main .content h1 {
    font-size: 4.5vw;
    line-height: 1.2;
  }
  .hero-main .content h1 span {
    font-size: 3.3vw;
  }
  .hero-main .heading {
    align-self: center;
    display: flex;
    align-items: flex-end;
    margin: 0;
    margin-right: 12vw;
  }
  .hero-main .heading h1 {
    font-size: 10vw;
    font-weight: 900;
    position: relative;
  }
  .hero-main .heading .square {
    position: absolute;
    left: 110%;
    top: 55%;
    width: 2.5vw;
    height: 2.5vw;
    background-color: var(--theme-color);
  }
  .hero-main .vertical-text {
    display: none;
  }
}

/* UI UX */
.ui-ux .left-oval {
  position: absolute;
  left: 0;
  bottom: 35%;
  width: 12vw;
}
.ui-ux .ux {
  width: 100%;
}
/* software-dev */
.software-dev,
.ui-ux,
.d-marketing {
  position: relative;
  display: grid;
  background-color: #212121;
  place-items: center;
  padding: 10vw 5vw;
}
.software-dev {
  background-color: #0000;
}
.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}
.content .content-body {
  display: flex;
  gap: 2vw;
  justify-content: center;
  align-items: center;
}
.content .content-body img {
  width: 55%;
}
.content .content-body hr {
  width: 2px;
  height: 30vw;
}

.content h1 {
  font-size: 4vw;
}
.content p {
  font-size: 1.4vw;
  text-align: justify;
}
.software-dev .left-oval {
  position: absolute;
  left: 0;
  top: 3vw;
  width: 12vw;
}
.software-dev .right-oval {
  position: absolute;
  right: 0;
  bottom: -6vw;
  z-index: 5;
  width: 30vw;
}

/* D-Marketing */

.d-marketing .right-oval {
  position: absolute;
  right: 0vw;
  bottom: -6vw;
  z-index: 5;
  width: 25vw;
}

@media screen and (max-width: 480px) {
  .ui-ux .left-oval {
    bottom: 53%;
  }
  .content h1 {
    font-size: 6vw;
  }
  .content .content-body {
    display: flex;
    flex-direction: column;
    gap: 4vw;
    justify-content: center;
    align-items: center;
  }
  .content .content-body img {
    width: 90%;
  }
  .content .content-body hr {
    width: 70%;
    height: 2px;
  }
  .content p {
    font-size: 2vw;
    margin-top: 2vw;
  }
}

@media screen and (max-width: 768px) and (min-width: 480px) {
  .ui-ux .left-oval {
    bottom: 40%;
  }
  .content h1 {
    font-size: 5vw;
  }
  .software-dev .content .content-body {
    display: flex;
    gap: 2vw;
    justify-content: center;
    align-items: center;
  }
  .software-dev .content .content-body img {
    max-height: 95vh;
    width: 60%;
  }
  .software-dev .content .content-body hr {
    width: 2px;
    height: 30vw;
  }
  .content p {
    font-size: 2.5vw;
    margin-top: 2vw;
  }
}
/* Industries */
.industries {
  display: grid;
  gap: 3vw;
  place-items: center;
  padding: 10vw 5vw;
}

.industries h1 {
  font-size: 4vw;
  text-transform: uppercase;
}
.industries hr {
  width: 36%;
  height: 2px;
}

.industries .cards {
  margin-top: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.industries .card {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  padding: 1vw;
  width: 32.8%;
}
.industries .card .image {
  height: 40vh;
  overflow: hidden;
}
.industries .card .image img {
  object-fit: contain;
  height: 100%;
}

.industries .card p {
  font-size: 1.3vw;
  text-align: center;
}
.industries .card:nth-child(1) {
  border-left: none;
  border-top: none;
}
.industries .card:nth-child(2) {
  border-top: none;
}
.industries .card:nth-child(3) {
  border-right: none;
  border-top: none;
}

.industries .card:nth-child(4) {
  border-left: none;
  border-bottom: none;
}
.industries .card:nth-child(5) {
  border-bottom: none;
}
.industries .card:nth-child(6) {
  border-right: none;
  border-bottom: none;
}
.industries .cards .card img {
  width: 15vw;
}
@media screen and (max-width: 768px) and (min-width: 481px) {
  .industries h1 {
    font-size: 5vw;
  }
  .industries .card {
    border: none;
    width: 48%;
    gap: 2vw;
  }
  .industries .card .image img {
    width: 30vw;
  }

  .industries .card p {
    font-size: 2.5vw;
  }

  .industries .card:nth-child(1),
  .industries .card:nth-child(3),
  .industries .card:nth-child(5) {
    border-right: 1px solid white;
    border-bottom: 1px solid white;
  }
  .industries .card:nth-child(2),
  .industries .card:nth-child(4),
  .industries .card:nth-child(6) {
    border-bottom: 1px solid white;
    border-left: 1px solid white;
  }
}

@media screen and (max-width: 480px) {
  .industries h1 {
    font-size: 6vw;
  }
  .industries .card {
    width: 95%;
  }
  .industries .card:nth-child(1),
  .industries .card:nth-child(3),
  .industries .card:nth-child(5) {
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-top: 1px solid white;
  }
  .industries .card:nth-child(2),
  .industries .card:nth-child(4),
  .industries .card:nth-child(6) {
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-top: 1px solid white;
  }
  .industries .card .image img {
    width: 40vw;
  }
  .industries .card p {
    font-size: 3.8vw;
  }
}

/* CARDS */
/* .cards {
  padding: 2vw 5vw;
  padding-bottom: 8vw;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 6vw;
  flex-wrap: wrap;
}
.cards .card {
  max-width: 45%;
  margin-top: 12vw;
  border: 2px solid white;
  display: flex;
  gap: 2vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2vw;
  padding-top: 3vw;
  border-radius: 15px;
  position: relative;
}
.cards .card .image-outer-container {
  position: absolute;
  top: -11vw;
  border: 2px solid var(--theme-color);
  border-radius: 100%;
  padding: 1vw;
  display: grid;
  place-items: center;
  height: 10vw;
  width: 10vw;
}
.cards .card .image-inner-container {
  border: 2px solid white;
  border-radius: 100%;
  padding: 1vw;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.cards .card:nth-child(5) .image-inner-container {
  padding: 1.5vw;
}
.cards .card .image-outer-container .image-inner-container img {
  width: 100%;
  object-fit: contain;
}
.cards .card h1 {
  display: inline-block;
  background-color: var(--theme-color);
  padding: 1vw;
  font-size: 2vw;
  font-weight: 800;
  color: white;
  position: absolute;
  top: -3vw;
  margin-inline: auto;
}
.cards .card p {
  text-align: center;
  font-size: 1.5vw;
  text-align: justify;
  width: 90%;
  padding: 2vw 0;
  line-height: 2vw;
}
.cards .card button {
  border: none;
  border-radius: 15px;
  background-color: var(--theme-color);
  padding: 1.5vw 2.5vw;
  font-size: 2vw;
  font-weight: 600;
  color: white;
  cursor: pointer;
  position: absolute;
  bottom: -3.5vw;
}

@media screen and (max-width: 480px) {
  .cards {
    padding-top: 5vw;
    flex-direction: column;
    align-items: center;
    gap: 9vw;
  }
  .cards .card {
    max-width: 70%;
  }
  .cards .card .image-outer-container {
    height: 12vw;
    width: 12vw;
    top: -14vw;
  }

  .cards .card:nth-child(5) .image-inner-container {
    padding: 1.5vw;
  }
  .cards .card h1 {
    top: -5vw;
    font-size: 3.3vw;
  }
  .cards .card p {
    font-size: 3vw;
    width: 70%;
    padding: 3vw 0;
    line-height: normal;
  }
  .cards .card button {
    font-size: 3.3vw;
  }
}

@media screen and (max-width: 768px) {
  .cards .card h1 {
    top: -5vw;
    font-size: 2.8vw;
  }
  .cards .card p {
    font-size: 2.5vw;
    width: 70%;
    padding: 3vw 0;
    line-height: normal;
  }
  .cards .card button {
    font-size: 3.3vw;
  }
} */

/* Side Social Media Links */
.side-social-media-links {
  z-index: 10;
  position: absolute;
  right: 0.3vw;
  top: -5vw;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
  color: var(--theme-color);
  border-radius: 15px;
  padding: 2vw 1vw;
  font-size: 2vw;

  height: fit-content;
}
.side-social-media-links a {
  color: var(--theme-color);
}

.side-social-media-links i:hover {
  color: black;
  cursor: pointer;
}

@media screen and (max-width: 768px) and (min-width: 480px) {
  .side-social-media-links {
    font-size: 3vw;
  }
}

@media screen and (max-width: 480px) {
  .side-social-media-links {
    padding: 3vw 2vw;
    font-size: 3.3vw;
    top: -9vw;
  }
}
